.chat-user {
  display: flex;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  position: relative;
}

.chat-user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3ab0ff;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 10px;
}

.chat-user-msg {
  line-height: 40px;
}

.chat-left {
  width: 50%;
  display: flex;
  background-color: #1b2430;
  border-radius: 10px;
  color: #ffffff;
}

.chat-right {
  margin-left: 48%;
  width: 50%;
  display: flex;
  border-radius: 10px;
  background-color: #ffffff;
}
